{% block subject %}Resetting your password{% endblock %}



{% block body_html %}
    {% block body_text %}
        {% autoescape false %}
            Dear User,

            You can reset your password by clicking <a href="{{ confirmationUrl }}">here</a>

            Greetings,
            Deviab Team
        {% endautoescape %}
    {% endblock %}
{% endblock %}