{% block subject %}Registration Comfirmation{% endblock %}

{% block body_text %}
        Dear User,

        You can verify your Account by clicking <a href="{{ confirmationUrl }}">here</a>

        Greetings,
        Ecards Team.
{% endblock %}
